ul{
	margin:0px;
	padding:0px;
	list-style: none;
	

	
}

ul li{
		float: left;
		width:325px;
		height: 40px;
		background-color:black;
		opacity: .8;
		text-align:center;
		line-height: 40px;
}

ul li a{
	color: white;
	text-decoration: none;
	display: block;
	font-size: 20px;
		
}

ul li a:hover{
	color: #4CAF50;
	
}

ul li ul li{
	display: none;
}

ul li:hover ul li{
	display: block;
}